/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-shadow {
    background: rgba(255, 255, 255, 1);
    color: black;
    /*box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);*/
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: rgb(250, 250, 250);
    color: black;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 1);
}

body {
    background-color: white;
    background-attachment: fixed;
    background-repeat: repeat-x;
}

/* Panel */
.shadow {
    background: rgb(243, 243, 243);
    color: rgb(14, 14, 14);
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.98);*/
}

.heading-shadow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(255, 255, 255, 1);
    padding-top: 1px;
    padding-left: 4%;
    padding-right: 10px;
    padding-bottom: 5px;
    border-color: rgb(186, 186, 186);
}

.heading-shadow:not(.heading-alone) {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

.white {
    background: rgba(255, 255, 255, 1);
}
/* Form */
.form-control-shadow {
    background-color: rgba(255, 255, 255, 1);
    border-color: black;
    color: black;
}

.form-control-shadow:focus {
    box-shadow: none;
    border-color: #000000;
    border-width: 2px;
}

/*.form-control-shadow>.focus {*/
    /*background-color: #ccff4b;*/
/*}*/

.btn-shadow {
    background: rgb(255, 255, 255);
    color: #000;
}

.btn-shadow:hover, .btn>.shadow>.heading-shadow.heading-alone:hover {
    background-color: rgb(242, 242, 242);
    border-color: rgb(186, 186, 186);
    border-width: 1px;
}

.ol-control button{
    background-color: rgba(255, 255, 255, 1) !important;
}
.ol-control button:hover{
    background-color: rgb(244, 244, 244) !important;
}

.ol-control button {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #575757;
    background: rgb(250, 250, 250);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: #b5b5b5;
}

.navbar-inverse .navbar-brand:hover {
    color: #000;
}

/* table */
.table:not(.table-category) > tbody > tr:nth-child(2n+1) > td, .table:not(.table-category) > tbody > tr:nth-child(2n+1) > th{
    background-color: rgba(242, 242, 242, 0.4);
}

/* measure CSS */
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: whitesmoke;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: rgba(0, 0, 0, 0.76);
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: rgba(0, 0, 0, 0.82);
}

/* footer */
.footer {
    background-color: white;
    border-top: solid;
    border-color: black;
    border-width: 1px;
    padding-top: 5px;
}

/* other */
.link {
    color: black;
}

.link:hover {
    color: #454545;
}