/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    position: absolute;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: 100%;
}

.navbar-shadow {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

body {
    background-image: url("../img/backgroundMapSmooth.png");
    background-attachment: fixed;


}

.container {
    padding: 0px;
    padding-top: 150px;
}

/* Modal */
.modal-content {
    margin-top: 30%;
}

/* Panel */
.shadow {
    background: linear-gradient(rgba(0, 0, 0, 0.60) , rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.60));
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.98);
    border-radius: 10px;
    padding: 0px;
}

.heading-shadow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.87));
    padding-top: 1px;
    padding-left: 4%;
    padding-right: 10px;
    padding-bottom: 5px;
}

.body-shadow {
    padding-top: 24px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
}

.body-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.fixed {
    position: fixed;

}
/* Form */
.form-control-shadow {
    background-color: rgba(0, 0, 0, 0.58);
    border-color: black;
    color: whitesmoke;
}

.btn-shadow {
    background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.70));
}

.sub-wraper {
    margin-top: 50px;
}

.container-wraper {
    position: static;
    width: 100%;
    height: 100%;
}

.map-wraper {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Map */
.map {
    position: static;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.ol-control button{
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.ol-control button:hover{
    background-color: rgba(40, 40, 40, 1) !important;
}

/* measure CSS */

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: whitesmoke;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: rgba(0, 0, 0, 0.76);
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: rgba(0, 0, 0, 0.69);
}
