/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    position: absolute;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: 100%;
}

.container-content {
    align-content: center;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.header {
    height: 150px;
    padding: 0px;

}

.flash-message {
    align-content: center;
    padding: 0px;
    padding-top: 60px;
    margin: 0px;
}

.margin-flash-message {
    margin: 10px;
}

/* Modal */
.modal-content {
    margin-top: 30%;
}

body {
    background-image: url("../img/backgroundMapSmooth.png");
}

/* body */
.body-shadow {
    padding-top: 24px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
}

.body-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

/* Content wrapers */
.heading-alone {
    border-radius: 10px;
}

.filler {
    height: 100%;
}

.shadow {
    margin-bottom: 15px;
}

/* Stats */
.inner{
    margin-bottom: 15px;
}

.larger-text{
    font-size: 200%;
}

.img-border {
    border: solid;
    border-width: 2px;
    border-color: rgba(5, 5, 5, 1);
}

.table-pure{
    width:100%;
    max-width:100%;
    margin-bottom:20px
}
.table-pure>tbody>tr>td,.table-pure>tbody>tr>th,
 .table-pure>tfoot>tr>td,.table-pure>tfoot>tr>th,
.table-pure>thead>tr>td,.table-pure>thead>tr>th{
    padding:8px;
    line-height:1.42857143;
    vertical-align:top;
}

/* Management */
.category-color {
    display: block;
    width: 100%;
    height: 100%;
}

td a {
    display:block;
    width:100%;
}

.btn-off {
    margin: 0px;
    padding: 0px;
}

@media (min-width:992px){
    .fixed {
        position: fixed;
        width: 300px;
    }

    .category {
        margin-top: 400px;
    }

    .btn-off {
        width: 300px;
    }
}

.sub-wraper {
    margin-top: 50px;
}

.container-wraper {
    position: static;
    width: 100%;
    height: 100%;
}

.map-wraper {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Map */
.map {
    position: static;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

