{block content}

<div class="container">
    <div class="shadow">
        <div class="heading-shadow"><h1>Statistiky</h1></div>
        <div class="body-shadow">
            {$maxArea}
        </div>
    </div>
</div>
