{block content}

    <div class="container container-content">
        <div class="shadow">
            <div class="heading-shadow"><h1>Registrace</h1></div>
            <div class="body-shadow">
                {control userRegistrationForm}
            </div>
        </div>
    </div>


