{block content}

    <div class="container">
        <div class="shadow">
            <div class="heading-shadow"><h1>Přihlášení</h1></div>
            <div class="body-shadow">
                {control loginForm}
            </div>
        </div>
    </div>