<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}TripMap</title>

    <!-- jQuerry -->
    <script src="{$basePath}/jquery/dist/jquery.min.js"></script>
    {*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>*}

    <!-- Bootstrap -->
    <script src="{$basePath}/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="{$basePath}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Open Layers -->
    <script src="{$basePath}/v3.11.2/build/ol.js"></script>
	<link rel="stylesheet" href="{$basePath}/v3.11.2/css/ol.css" type="text/css">

    <!-- Open Layers search -->
    <link href="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js"></script>

    <!-- Nette forms -->
    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>


    <!-- Nette ajax -->
    <script src="{$basePath}/assets/js/nette.ajax.js"></script>
    <script>
        $(function () {
            $.nette.init();
            // And you fly...
        });
    </script>


	<link rel="shortcut icon" href="{$basePath}/favicon.ico">




    {*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*}
    {*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>*}
    {*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*}
    {*<script src="{$basePath}/jquery/dist/jquery.min.js"></script>*}
    {*TODO predelat na local*}

    <!-- Custom styles for this template -->
    {if $userCss == 1}<link href="{$basePath}/assets/css/custom_white.css" rel="stylesheet">{else}
        <link href="{$basePath}/assets/css/custom_black.css" rel="stylesheet">
    {/if}
    <link href="{$basePath}/assets/css/global.css" rel="stylesheet">
    {*<link href="{$basePath}/assets/fonts/css/font-awesome.min.css" rel="stylesheet">*}
</head>

<body>

    <div class="container-wraper">
        <div class="navbar-wrapper">
            <div class="">

                <nav class="navbar navbar-inverse navbar-static-top navbar-shadow">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">TripMap</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li {ifCurrent Homepage:* }class="active"{/ifCurrent}><a n:href="Homepage:default">Home</a></li>
                                <li n:if="$user->loggedIn" {ifCurrent Map:* }class="active"{/ifCurrent}><a n:href="Map:default">Mapa</a></li>
                                <li n:if="$user->loggedIn" {ifCurrent Management:* }class="active"{/ifCurrent}><a n:href="Management:default">Správa</a></li>
                                <li {ifCurrent Statistics:* }class="active"{/ifCurrent}><a n:href="Statistics:">Statistiky</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li n:if="$user->loggedIn"><a n:href="Settings:">Nastavení</a></li>
                                <li n:if="!$user->loggedIn" {ifCurrent Registration: }class="active"{/ifCurrent}><a n:href="Registration:">Registrace</a></li>
                                <li n:if="!$user->loggedIn" {ifCurrent Login: }class="active"{/ifCurrent}><a n:href="Login:">Přihlásit</a></li>
                                <li n:if="$user->loggedIn" {ifCurrent Login:}class="active"{/ifCurrent}><a n:href="Login:out">Odhlásit</a></li>

                                <li class=""><a href="#" class="navbar-link"><i class="fa fa-facebook-square"></i></a></li>
                            </ul>
                        </div>
                </nav>

            </div>
        </div>

        <div class="container">
            <div n:foreach="$flashes as $flash" class="flash-message">
                        <div n:foreach="$flashes as $flash" class="alert shadow heading-shadow text-center"><h2 class="margin-flash-message">{$flash->message}</h2></div>
                        {*<h2>Tady je super text</h2>*}
            </div>
            {*<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} text-center">{$flash->message}</div>*}
        </div>

        {include content}



    </div>
	{block scripts}



	{/block}
    <script src="{$basePath}/assets/js/formDateTime.js"></script>
</body>
</html>
